/* body {
  background-color: #E45A92;
}

.form-container {
  color: white;
  background-color:#5D2F77;
  width: 200px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px;
  border: none;
}

.user {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.pass {
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
  background: green;
}

button:hover{
  color: orange;
}

.pre {
  color: black;
}

.pre:hover{
  color: white;
} */

/* .login-form {
  background-color: white;
} */ 